/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
* {
    font-family: 'Noto Sans', sans-serif;
}

/* REGOLE GENERALI */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 40px;
    margin: 0 0 50px 0;
}

/* HEADER */
header {
    height: 800px;
    padding-top: 100px;
    background-color: #b4d0e7;
}
/* PRIMA SEZIONE HEADER */
.header-first-section {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.header-first-section a {
    font-size: 15px;
    color: #828282;
    padding: 23px 20px;
}

.first-container-header, .second-container-header {
    min-width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover {
    border-bottom: 2px solid #828282;
}

.header-button {
    padding-right: 20px;
}

.header-button > a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0061ff;
    color: #ffffff;
}

ul {
    display: flex;
}

ul li a {
    min-width: 7.5%;
    padding: 5px;
}

/* SECONDA SEZIONE HEADER */
.header-second-section {
    max-width: 1200px;
    margin-top: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 90px;
}

.container-header-second-section {
    width: 100%;
    display: flex;
}

.text-header-second-section {
    width: 30%;
    height: 100%;
    padding-top: 60px;
}

.text-header-second-section > a {
    display: inline-block;
    padding: 10px 10px;
    background-color: #0061ff;
    color: #ffffff;
    margin: 50px 0;
}

.arrow-down {
    margin-top: 40px;
}

.arrow-down i {
    font-size: 50px;
}

.content-header-second-section {
    width: 70%;
    padding-top: 60px;
}

.content-header-second-section img {
    width: 100%;
}

/* MAIN */
.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

/* MAIN - FIRST SECTION */
#h2-margin-top {
    margin: 50px 0;
}

.span-circle {
    margin-right: 30px;
}

.circle-blue {
    font-size: 8px;
    color: #ffffff;
    border: 5px solid #0061ff;
    border-radius: 50%;
    margin-right: 3px;
}

.circle {
    font-size: 15px;
    color: #ffffff;
    border: 2px solid #828282;
    border-radius: 50%;
    margin-right: 3px;
}

.first-container-main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.content-container-main {
    width: calc(100% / 3);
    border: 2px solid #828282;
}

.content-container-main h3 {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #828282;
}

.content-info {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.content-info h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.content-info .price {
    font-size: 15px;
    font-weight: bold;
}

.content-info .period {
    font-size: 15px;
    color: #828282;
}

.content-info .main-button {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    background-color: #0061ff;
    color: #ffffff;
    margin-bottom: 20px;
}

.content-info span {
    margin-bottom: 20px;
}

.content-info span a {
    text-decoration: underline;
}

.content-info hr {
    width: 55px;
    height: 2px;
    color: #828282;
    margin: 20px 0 40px 0;
}

.content-info h6 {
    font-size: 15px;
    margin-bottom: 20px;
}

.blue {
    color: #0061ff;
}

.features {
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px 0;
}

.features span {
    padding: 10px 0;
}

.text-container-main {
    width: 100%;
    margin-top: 30px;
    border: 2px solid #828282;
}

.text-container-main h3 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #828282;
}

.content-container-main-team {
    display: flex;
    padding: 20px;
}

.info-team {
    width: 65%;
}

.info-team h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.info-team span {
    font-size: 13px;
    font-weight: bold;
}

.info-team p {
    margin-top: 40px;
}

.button-team {
    width: 35%;
    text-align: end;
}

.button-team a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    background-color: #0061ff;
    color: #ffffff;
}

/* MAIN - SECOND SECTION */
.second-container-main {
    width: 100%;
    display: flex;
}

.content-container-main-first {
    width: 60%;
}

.content-container-main-first img {
    width: 100%;
}

.content-container-main-second {
    width: 40%;
    padding: 50px 30px;
}

.content-container-main-second h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content-container-main-second a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid #828282;
    background-color: #ffffff;
    color: #828282;
    margin-top: 30px;
}

/* MAIN - THIRD SECTION */
.third-container-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content-container-main-third {
    width: calc(100% / 3);
    padding: 30px;
}

.content-container-main-third img {
    width: 100%;
}

.content-container-main-third h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* MAIN - FOURTH SECTION */
.text-container-main-fourth {
    width: 60%;
}

.text-container-main-fourth a {
    text-decoration: underline;
}

/* MAIN - FIFTH SECTION */
.fifth-section-main {
    width: 100%;
    height: 100vh;
    padding-top: 65px;
}

.main-container-fifth-section {
    height: 70vh;
    display: flex;
}

.container-fifth-section-main {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-fifth-section {
    width: 50%;
    height: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fifth-section img {
    width: 150px;
    filter: invert(100%);
}

#no-flex {
    display: block;
    height: 100%;
    width: calc(100% / 3);
    padding: 50px;
}

#no-flex img {
    width: 200px;
    filter: invert(0%);
}

#no-flex hr {
    width: 95px;
    height: 2px;
    color: #828282;
    margin: 30px 0;
}

#no-flex p {
    margin-bottom: 30px;
}

.green {
    background-color: #a2d39b;
}

.wood {
    background-color: #61082b;
}

.pacific {
    background-color: #0093ce;
}

.red {
    background-color: #ff1c1c;
}

.wild-sand {
    background-color: #f5f5f5;
}

.monza {
    background-color: #d5001f;
}

.spindle {
    background-color: #b4d0e7;
}

.catalina-blue {
    background-color: #0d2481;
}

.sunglow {
    background-color: #ffd830;
}

.main-container-last-fifth-section-main {
    width: 100%;
    height: 30vh;
    background-color: #b4d0e7;
}

.last-container-fifth-section-main {
    max-width: 1000px;
    padding: 50px 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text-fifth-section {
    width: 50%;
}

.text-fifth-section h2 {
    font-size: 35px;
    color: #61082b;
}

.button-fifth-section {
    text-align: end;
}

.button-fifth-section a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #777777;
}

/* FOOTER */
footer {
    padding: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto; 
}

.main-container-footer {
    width: 100%;
    display: flex;
}

.content-footer {
    width: calc(100% / 5);
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* DEBUG */
/* DEBUG - HEADER */
.debug header {
    background-color: aqua;
}

/* DEBUG - HEADER - FIRST SECTION */
.debug .header-first-section {
    background-color: blue;
    border: 2px dashed black;
}

.debug .first-container-header, .debug .second-container-header {
    background-color: orange;
    border: 2px dashed black;
}

.debug .header-logo, .debug .header-button {
    border: 2px dashed black;
}

.debug ul li a {
    border: 2px dashed black;
}

/* DEBUG - HEADER - SECOND SECTION */
.debug .header-second-section {
    background-color: chocolate;
    border: 2px dashed black;
}

.debug .container-header-second-section {
    border: 2px dashed black;
}

.debug .text-header-second-section {
    min-height: 50px;
    background-color: darkgoldenrod;
    border: 2px dashed black;
}

.debug .content-header-second-section {
    min-height: 50px;
    background-color: crimson;
    border: 2px dashed black;
}

/* DEBUG - MAIN */
.debug main {
    background-color: darkseagreen;
}

.debug .text-container-main {
    background-color: tomato;
    border: 2px dashed black;
}

/* DEBUG - MAIN - FIRST SECTION */
.debug .content-container-main {
    min-height: 500px;
    border: 2px dashed black;
    background-color: burlywood;
}

.debug .container-section-main {
    background-color: brown;
    border: 2px dashed black;
}

/* DEBUG - MAIN - SECOND SECTION */
.debug .second-container-main {
    border: 2px dashed black;
}

.debug .content-container-main-first {
    min-height: 400px;
    background-color: cadetblue;
    border: 2px dashed black;
}

.debug .content-container-main-second {
    min-height: 300px;
    background-color: thistle;
    border: 2px dashed black;
}

/* DEBUG - MAIN - THIRD SECTION */
.debug .third-container-main {
    border: 2px dashed black;
}

.debug .content-container-main-third {
    min-height: 300px;
    border: 2px dashed black;
    background-color: yellow;
}

/* DEBUG - MAIN - FIFTH SECTION */
.debug .container-fifth-section-main {
    background-color: violet;
    border: 2px dashed black;
}

.debug .content-fifth-section {
    background-color: steelblue;
    border: 2px dashed black;
}

.debug .main-container-last-fifth-section-main {
    background-color: aqua;
}

.debug .last-container-fifth-section-main {
    background-color: teal;
    border: 2px dashed black;
}

/* DEBUG FOOTER */
.debug footer {
    background-color: sandybrown;
}

.debug .content-footer {
    background-color: slategray;
    border: 2px dashed black;
}